NodeRed_app/Monads_091218.txt
[{"id":"eaab91b5.35a83","type":"tab","label":"Home","disabled":false,"info":""},{"id":"d35b0b00.c0a1d8","type":"tab","label":"Google Dashboard","disabled":false,"info":""},{"id":"87de3044.faef9","type":"tab","label":"Flow 1"},{"id":"216dafd7.98d67","type":"tab","label":"Flow 2"},{"id":"67c9743c.d9812c","type":"subflow","name":"Subflow 1","info":"","in":[],"out":[]},{"id":"226f143d.33506c","type":"subflow","name":"Subflow 1 (2)","info":"","in":[],"out":[]},{"id":"c2654cd4.4fc69","type":"mqtt-broker","z":"","broker":"m20.cloudmqtt.com","port":"25765","tls":"","clientid":"NodeRed_PZ","usetls":true,"compatmode":true,"keepalive":"60","cleansession":false,"willTopic":"Alfred","willQos":"0","willRetain":"true","willPayload":"Nodered Down","birthTopic":"Alfred","birthQos":"0","birthRetain":"true","birthPayload":"Nodered Up"},{"id":"d62f0508.2d9bc8","type":"ui_tab","z":"","name":"Home","icon":"home","order":"1"},{"id":"1863cead.028251","type":"mqtt-broker","z":"","broker":"m20.cloudmqtt.com","port":"25765","tls":"","clientid":"NodeRed_PZ","usetls":true,"compatmode":true,"keepalive":"60","cleansession":false,"willTopic":"Alfred","willQos":"0","willRetain":"true","willPayload":"Nodered Down","birthTopic":"Alfred","birthQos":"0","birthRetain":"true","birthPayload":"Nodered Up"},{"id":"c2a3aa5e.e3db38","type":"ui_group","z":"","name":"Lounge","tab":"d62f0508.2d9bc8","order":1,"disp":true,"width":"6"},{"id":"f6a8a951.2ac6f8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#2b5f86","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"default":"#4B7930","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#2b5f86","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#3e88c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#2b5f86","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Mondas","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"a719b1a8.4ce7","type":"ui_group","z":"","name":"Hashim's Room","tab":"d62f0508.2d9bc8","order":2,"disp":true,"width":"6"},{"id":"673f5ec8.875a2","type":"ui_group","z":"","name":"Device Status","tab":"4c669c63.f73a14","order":3,"disp":true,"width":"6"},{"id":"31347da4.6a91b2","type":"ui_group","z":"","name":"Hashim's Room","tab":"","disp":true,"width":"8"},{"id":"80c5e20a.445f7","type":"ui_group","z":"","name":"Google","tab":"","disp":true,"width":"6"},{"id":"bd8ee6fc.883268","type":"ui_group","z":"","name":"Group 2","tab":"1d7a9c50.4995a4","order":2,"disp":true,"width":"6"},{"id":"cc228604.5b0e08","type":"google-conn","z":"","name":"Google","key":"{\n  \"type\": \"service_account\",\n  \"project_id\": \"earnest-sight-189600\",\n  \"private_key_id\": \"ec66014c1887f169f1a692787c8330a166dae212\",\n  \"private_key\": \"-----BEGIN PRIVATE KEY-----\\nMIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQC5YFkKkCS+Ld//\\nm6LK8l6aTm3wKLmlNLN0o3V5QdSG8Eqou4Qr4txaPFxKcNHaSRQaDRm7MxHrNBJk\\nu7qewRc/xuO8XQfMBoeNz+peQAq4rCEEwo1em/aZRgNRHj4zwljxEhZ/fag9RuS4\\n8bAUq76sy/V0/aLuBLW6+CK7+BQWrnFbdyz+PmmfvdVJecJctElZY1oFx4XrvkcQ\\no5zJ2/knM2yr9j9JPy3k1zZ8K4zzxJKwHNDiJxrFBBFOg5lEfoSjKtT9cTI8jCaW\\nGQUEWCyUwxGcYZixTbqpoa4Qi0PBqbCb3aS0aEuyBM3GF1ZvwrHNec21mjMhk5p5\\nbQSYKEJTAgMBAAECggEAPs77PE38dQdcFuHntXWLQiMCstVJmUUS7JkZi10XoiS2\\nVxc5wBjcaiJ7bqltINWT3wPDTR8Pmi6JcOH+aB2qP+ymasLmimVH9m+UzBxMxadk\\nhJVaisyzL9l99DUYBDd8JSnov4eWwjRL+LHC5C4Qq8FrSBlL4/Nqk4/RTPjP7aLW\\nUPjSlK/6XxLVBwUvhvk1kl7iTlODlEH6ByW+Df+oxP6KFjvTJQVppSd+bCvww1yd\\nPPqw4vDkOSAVqP6qNsFGadv5EP7v/M6wOM1Nlg9IoMKihsnRbpuq6SWvD9W/Y7Z5\\nSndWFVJLDvSzeGwF9t0hlcqmCMj2znDlU5jQUOKygQKBgQD4rids4CuDZBtmKHXB\\nrj687jojEDC6TsXcwIdiotgfv12iaZLr5Bvme47CHvQvi+fIgmSR8KtVhF4ukt29\\n82W6XzFsVQJN1kYvZNGQ0+QRc/kx12FxFvLpVThXWl+3OWK4Ik9TlxIh4fefJs/z\\nBUHFgxri+fk6dabi0gL8udydkwKBgQC+1TBCMUwyjcyDd7vcHCAc4Yjri9AqGG1l\\nZnHH8yNcSTvX4Kt1O/kcJe3sNhU3h5jmhXqRT2x+J0TuB8rxYNnrvnb4p5phKDSL\\nh5cXXZozf+8QKcJwEaS8OO5hVdYmy7M0Rq7bUN3XzfS8YWuhgCpV5X1puBnYbpgb\\n9ie6lPLAQQKBgA0JtG904VMmMHmOrX3WENv+8XVdJ/DcqGsGfRKizwn7EoGtX1KW\\nxw+ycq2iydKkVyagD33HTHRTWEzAzndjB3ZZ/1Fas6A5F7zsYEBjm5V+qxX94NH5\\nDgtFuIp75oDItXBJ/Da5uO2l10G02zo2kFg2o3Y6/OIfwPwrXpS5eeOZAoGBAJKp\\nB1inyHbF0ZpsJ72HBAsOLgtQvV/MvC6E6AcSTme7hLlpWnxT5iSC5fJ2siGmHZV0\\nmfkZQDlH9sq0xHxzwadTDt4U+SmYG6HsR+tWLY9M0C7s2RkGBkP9wP6fWGEihgw0\\nEmhNIuGa0G8CtBQ/isnPAG6CZaKXhGFg8bGMjW/BAoGALxdcUCS9kjyFzEnarKmG\\nbxnDSKv+rKQuk4z9JehDNms242rUBqLAS5MzdH/W9GPN/G04fmf+qAyiTp+gx6wN\\nk1+oENhf8oZxnm/vGtnCdteqpz3GXjeVUtyrjXD4pQzDans6k1F0NTHYE0G9E9FT\\nONP+ZCjnfUtmYR/6s4LMyyI=\\n-----END PRIVATE KEY-----\\n\",\n  \"client_email\": \"monads@earnest-sight-189600.iam.gserviceaccount.com\",\n  \"client_id\": \"100229389382473908195\",\n  \"auth_uri\": \"https://accounts.google.com/o/oauth2/auth\",\n  \"token_uri\": \"https://accounts.google.com/o/oauth2/token\",\n  \"auth_provider_x509_cert_url\": \"https://www.googleapis.com/oauth2/v1/certs\",\n  \"client_x509_cert_url\": \"https://www.googleapis.com/robot/v1/metadata/x509/monads%40earnest-sight-189600.iam.gserviceaccount.com\"\n}\n","scopes":"https://www.googleapis.com/auth/fitness.activity.read"},{"id":"4c669c63.f73a14","type":"ui_tab","z":"","name":"Diagnostics","icon":"dashboard","order":4},{"id":"145897d5.7c7cc8","type":"ui_tab","z":"","name":"Charts","icon":"dashboard","order":3},{"id":"c09b9390.0be8c","type":"ui_group","z":"","name":"Hashim's Room","tab":"145897d5.7c7cc8","disp":true,"width":"6"},{"id":"99f4ddaf.1f82f","type":"ibmiot out","z":"eaab91b5.35a83","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"sw01","deviceType":"MainsSwitch","eventCommandType":"Command","format":"json","data":"msg.payload","qos":0,"name":"Lounge Table Lamp_Command","service":"registered","x":1137.5122184753418,"y":673.9524011611938,"wires":[]},{"id":"2b5d86eb.f7279a","type":"ibmiot in","z":"eaab91b5.35a83","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"sw01","applicationId":"","deviceType":"MainsSwitch","eventType":"Status","commandType":"","format":"json","name":"Lounge Table Lamp_Status","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allEvents":false,"allCommands":"","allFormats":true,"qos":"1","x":724.2619800567627,"y":794.6190724372864,"wires":[["13d091f.6775f6e","264a504.87085b"]]},{"id":"13d091f.6775f6e","type":"function","z":"eaab91b5.35a83","name":"Parse_Status","func":"var Status = JSON.parse(msg.payload);\n\nglobal.set('Lounge_TableLamp.DeviceStatus',Status.DeviceStatus);\nglobal.set('Lounge_TableLamp.RelayStatus',Status.RelayState);\nglobal.set('Lounge_TableLamp.ButtonStatus',Status.ButtonState);\n\nvar Device = {payload:Status.DeviceStatus};\nvar Relay = {payload:Status.RelayState};\nvar Button = {payload:Status.ButtonState};\n\nreturn [Device,Relay];","outputs":"2","noerr":0,"x":945.5713939666748,"y":778.5714621543884,"wires":[["67835519.b65c9c"],["572a086c.073bf8"]]},{"id":"dd8da579.bfe598","type":"function","z":"eaab91b5.35a83","name":"readings","func":"var ambient = JSON.parse(msg.payload);\nvar temp = {payload: parseInt(ambient.Temperature),topic: \"Temp\"};\nvar humidity = {payload: parseInt(ambient.Humidity),topic: \"Humidity\"};\n//msg.payload=ambient.Temperature;\nreturn [temp,humidity];","outputs":"2","noerr":0,"x":476.9125289916992,"y":1962.856969833374,"wires":[["8a019b2e.c8a208","6c994623.7c9448"],["6ca2f576.fb048c","9bd122e7.c82ce"]]},{"id":"d516e240.6f2d6","type":"function","z":"eaab91b5.35a83","name":"Sensor Status","func":"var state = JSON.parse(msg.payload);\nmsg.payload=state.Status;\nmsg.topic=\"status\";\nreturn msg;","outputs":"1","noerr":0,"x":457.8291835784912,"y":2097.023684024811,"wires":[["1511be61.706182"]]},{"id":"d0c868a0.eb7cb8","type":"comment","z":"eaab91b5.35a83","name":"Lounge table Switch","info":"","x":678.1667556762695,"y":605.7150106430054,"wires":[]},{"id":"e3d7e8ea.c5d7d8","type":"comment","z":"eaab91b5.35a83","name":"Hashims Room Temp & Humidity Sensor","info":"Device Uses Cloud MQTT Server","x":259.7457866668701,"y":1823.1355166435242,"wires":[]},{"id":"658f0121.4300c","type":"function","z":"eaab91b5.35a83","name":"process","func":"var incoming = msg.payload;\nif (incoming == \"true\")\n{\n    msg.payload= {Command:\"on\"};\n}\n\nelse if (incoming == \"false\")\n{\n    msg.payload= {Command:\"off\"};\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":922.5953788757324,"y":672.7822360992432,"wires":[["99f4ddaf.1f82f"]]},{"id":"264a504.87085b","type":"debug","z":"eaab91b5.35a83","name":"Lounge Table Lamp Event","active":true,"console":"false","complete":"payload","x":968.3889598846436,"y":829.2326102256775,"wires":[]},{"id":"60330e78.2d886","type":"ibmiot in","z":"eaab91b5.35a83","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"sw01","applicationId":"","deviceType":"MainsSwitch","eventType":"Will","commandType":"","format":"string","name":"Lounge Table Lamp_Will","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allEvents":"","allCommands":"","allFormats":"","qos":"1","x":891.4406089782715,"y":726.9047365188599,"wires":[["67835519.b65c9c"]]},{"id":"d99dbd0a.29d08","type":"ibmiot out","z":"eaab91b5.35a83","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"sw02","deviceType":"MainsSwitch","eventCommandType":"Command","format":"json","data":"msg.payload","qos":0,"name":"Lounge Corner Lamp_Command","service":"registered","x":1327.405035018921,"y":965.4762406349182,"wires":[]},{"id":"f51b36a8.83e2c8","type":"ibmiot in","z":"eaab91b5.35a83","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"sw02","applicationId":"","deviceType":"MainsSwitch","eventType":"Status","commandType":"","format":"json","name":"Lounge Corner Lamp_Status","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allEvents":false,"allCommands":"","allFormats":true,"qos":"1","x":801.4048767089844,"y":1102.8928718566895,"wires":[["459b1b6a.a10d24","6c8ea71.f7ec658"]]},{"id":"459b1b6a.a10d24","type":"function","z":"eaab91b5.35a83","name":"Parse_Status","func":"var Status = JSON.parse(msg.payload);\n\nglobal.set('Lounge_CornerLamp.DeviceStatus',Status.DeviceStatus);\nglobal.set('Lounge_CornerLamp.RelayStatus',Status.RelayState);\nglobal.set('Lounge_CornerLamp.ButtonStatus',Status.ButtonState);\n\nvar Device = {payload:Status.DeviceStatus};\nvar Relay = {payload:Status.RelayState};\nvar Button = {payload:Status.ButtonState};\n\nreturn [Device,Relay];","outputs":"2","noerr":0,"x":1030.5714721679688,"y":1078.809455871582,"wires":[["34da6134.60e59e"],["1384eded.951a42"]]},{"id":"80ed6a95.f80458","type":"comment","z":"eaab91b5.35a83","name":"Lounge Corner Lamp","info":"","x":690.761848449707,"y":886.048357963562,"wires":[]},{"id":"3a800bfa.3d04a4","type":"function","z":"eaab91b5.35a83","name":"process","func":"var incoming = msg.payload;\nif (incoming == \"true\")\n{\n    msg.payload= {Command:\"on\"};\n    global.set('Lounge_CornerLamp.RelayStatus',\"on\");\n}\n\nelse if (incoming == \"false\")\n{\n    msg.payload= {Command:\"off\"};\n    global.set('Lounge_CornerLamp.RelayStatus',\"off\");\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":885.1309585571289,"y":963.1989345550537,"wires":[["ac05834e.d2c01"]]},{"id":"6c8ea71.f7ec658","type":"debug","z":"eaab91b5.35a83","name":"Lounge Corner Lamp Event","active":true,"console":"false","complete":"payload","x":1069.4603118896484,"y":1125.5422868728638,"wires":[]},{"id":"f3379352.795f1","type":"ibmiot in","z":"eaab91b5.35a83","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"sw02","applicationId":"","deviceType":"MainsSwitch","eventType":"Will","commandType":"","format":"string","name":"Lounge Corner Lamp_will","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allEvents":"","allCommands":"","allFormats":"","qos":"1","x":1005.4603042602539,"y":1026.990117073059,"wires":[["34da6134.60e59e"]]},{"id":"627507a.5844af8","type":"function","z":"eaab91b5.35a83","name":"Process Scene","func":"var cornerlamp = { payload:\"true\" };\nvar tablelamp = { payload:\"true\" };\n\nswitch (msg.payload)\n{\n    case \"evening\":\n        cornerlamp.payload=\"true\";\n        tablelamp.payload=\"true\";\n        global.set('LED_Strip01.UpStair_State',100);\n        global.set('LED_Strip01.DownStair_State',100);\n        global.set('LED_Strip02.Strip_State',100);\n        break;\n    \n    case \"movie\":\n        cornerlamp.payload=\"false\";\n        tablelamp.payload=\"true\";\n        break;\n    \n    case \"night\":\n        cornerlamp.payload=\"false\";\n        tablelamp.payload=\"false\";\n        global.set('LED_Strip01.UpStair_State',25);\n        global.set('LED_Strip01.DownStair_State',0);\n        global.set('LED_Strip02.Strip_State',0);\n        break;\n    \n}\n\nreturn [tablelamp,cornerlamp];","outputs":"2","noerr":0,"x":272.26200675964355,"y":1038.035855770111,"wires":[["f51a3648.470608"],["7a2dcdaf.d65c64","ca657fc8.76eff"]]},{"id":"d47f035a.83188","type":"comment","z":"eaab91b5.35a83","name":"Scenes","info":"","x":235.01200675964355,"y":949.7858519554138,"wires":[]},{"id":"9acc1dde.1581d","type":"ibmiot in","z":"eaab91b5.35a83","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"HashimsRoom","applicationId":"","deviceType":"TempHum_Sensor","eventType":"Readings","commandType":"","format":"json","name":"Hashim Room Snsr_Reading","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allEvents":false,"allCommands":"","allFormats":true,"qos":"0","x":253.5713348388672,"y":1953.8333702087402,"wires":[["dd8da579.bfe598","32816117.11e3be"]],"outputLabels":["Hash_Room_Readings"]},{"id":"fdb2c4a6.5eb708","type":"ibmiot in","z":"eaab91b5.35a83","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"HashimsRoom","applicationId":"","deviceType":"TempHum_Sensor","eventType":"Status","commandType":"","format":"json","name":"Hashim Room Snsr_Status","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allEvents":false,"allCommands":"","allFormats":true,"qos":"0","x":233.57130241394043,"y":2098.833468914032,"wires":[["d516e240.6f2d6","a7d7e2ab.04aa9"]],"outputLabels":["Hash_Room_Readings"]},{"id":"a7d7e2ab.04aa9","type":"debug","z":"eaab91b5.35a83","name":"","active":true,"console":"false","complete":"false","x":443.67115211486816,"y":2032.7570633888245,"wires":[]},{"id":"32816117.11e3be","type":"debug","z":"eaab91b5.35a83","name":"","active":true,"console":"false","complete":"false","x":504.92548179626465,"y":1889.4366772174835,"wires":[]},{"id":"356bed6d.11bb92","type":"ibmiot in","z":"eaab91b5.35a83","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"HashimsRoom","applicationId":"","deviceType":"TempHum_Sensor","eventType":"Will","commandType":"","format":"json","name":"Hashim Room Snsr_Will","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allEvents":false,"allCommands":"","allFormats":true,"qos":"1","x":442.1427593231201,"y":2166.452392101288,"wires":[["1511be61.706182"]],"outputLabels":["Hash_Room_Readings"]},{"id":"f51a3648.470608","type":"ui_switch","z":"eaab91b5.35a83","name":"Table Lamp","label":"Table Lamp","group":"c2a3aa5e.e3db38","order":2,"width":"0","height":"0","passthru":true,"decouple":"false","topic":"Lounge Lamp","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","x":757.0119743347168,"y":672.5357341766357,"wires":[["658f0121.4300c"]]},{"id":"ca657fc8.76eff","type":"ui_switch","z":"eaab91b5.35a83","name":"Corner Lamp","label":"Corner Lamp","group":"c2a3aa5e.e3db38","order":3,"width":"","height":"","passthru":true,"decouple":"false","topic":"Lounge Lamp","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","x":704.1547088623047,"y":964.2023525238037,"wires":[["3a800bfa.3d04a4"]]},{"id":"67835519.b65c9c","type":"ui_text","z":"eaab91b5.35a83","group":"673f5ec8.875a2","order":7,"width":"","height":"","name":"Lounge Table Lamp","label":"Table Lamp","format":"{{msg.payload}}","layout":"","x":1172.0120544433594,"y":748.535737991333,"wires":[]},{"id":"572a086c.073bf8","type":"ui_text","z":"eaab91b5.35a83","group":"c2a3aa5e.e3db38","order":4,"width":"","height":"","name":"Table Lamp","label":"Lounge Table Lamp","format":"{{msg.payload}}","layout":"","x":1151.0002555847168,"y":795.2143688201904,"wires":[]},{"id":"8a019b2e.c8a208","type":"ui_text","z":"eaab91b5.35a83","group":"a719b1a8.4ce7","order":2,"width":"","height":"","name":"Current Temperature","label":"Temperature","format":"{{msg.payload}}","layout":"","x":752.1961402893066,"y":1863.4572410583496,"wires":[]},{"id":"6ca2f576.fb048c","type":"ui_text","z":"eaab91b5.35a83","group":"a719b1a8.4ce7","order":2,"width":"","height":"","name":"Current Humidity","label":"Humidity","format":"{{msg.payload}}","layout":"","x":740.2294273376465,"y":2024.6069688796997,"wires":[]},{"id":"1511be61.706182","type":"ui_text","z":"eaab91b5.35a83","group":"673f5ec8.875a2","order":1,"width":"","height":"","name":"Sensor Status","label":"Hashims Room Sensor","format":"{{msg.payload}}","layout":"","x":694.0791912078857,"y":2128.9760088920593,"wires":[]},{"id":"34da6134.60e59e","type":"ui_text","z":"eaab91b5.35a83","group":"673f5ec8.875a2","order":8,"width":"","height":"","name":"Lounge Corner Lamp","label":"Corner Lamp","format":"{{msg.payload}}","layout":"","x":1335.4048767089844,"y":1051.8094549179077,"wires":[]},{"id":"1384eded.951a42","type":"ui_text","z":"eaab91b5.35a83","group":"c2a3aa5e.e3db38","order":5,"width":"","height":"","name":"Corner Lamp","label":"Corner Lamp","format":"{{msg.payload}}","layout":"","x":1310.821548461914,"y":1092.059455871582,"wires":[]},{"id":"e70d148e.a50178","type":"ui_dropdown","z":"eaab91b5.35a83","name":"","label":"Scene","place":"Select Scene","group":"c2a3aa5e.e3db38","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"Evening","value":"evening","type":"str"},{"label":"Movie","value":"movie","type":"str"},{"label":"Night","value":"night","type":"str"}],"payload":"","topic":"","x":237.9981746673584,"y":987.51029920578,"wires":[["627507a.5844af8"]]},{"id":"6c994623.7c9448","type":"ui_chart","z":"eaab91b5.35a83","name":"Tempertaure","group":"c09b9390.0be8c","order":0,"width":"8","height":"8","label":"Temperature","chartType":"line","legend":"true","xformat":"dd HH:mm","interpolate":"linear","nodata":"Waiting for Data","dot":false,"ymin":"0","ymax":"30","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#cd1f39","#0000ff","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":722.3155994415283,"y":1905.7490587234497,"wires":[[],[]]},{"id":"c608b279.4807e","type":"ui_switch","z":"eaab91b5.35a83","name":"Hashims Room Lamp","label":"Hashims Room Lamp","group":"a719b1a8.4ce7","order":1,"width":"0","height":"0","passthru":true,"decouple":"false","topic":"Hashims Room Lamp","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","x":1134.5925197601318,"y":1871.4699654579163,"wires":[["d4858b85.79f018"]]},{"id":"d4858b85.79f018","type":"function","z":"eaab91b5.35a83","name":"process","func":"var incoming = msg.payload;\nif (incoming == \"true\")\n{\n    msg.payload= {Command:\"on\"};\n}\n\nelse if (incoming == \"false\")\n{\n    msg.payload= {Command:\"off\"};\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1318.9256954193115,"y":1873.383143901825,"wires":[["f36bfd90.66ba8"]]},{"id":"f36bfd90.66ba8","type":"ibmiot out","z":"eaab91b5.35a83","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"sw03","deviceType":"MainsSwitch","eventCommandType":"Command","format":"json","data":"msg.payload","qos":0,"name":"Hashims Room Lamp_Command","service":"registered","x":1557.5926342010498,"y":1874.1366505622864,"wires":[]},{"id":"4b5642a6.70f02c","type":"ibmiot in","z":"eaab91b5.35a83","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"sw03","applicationId":"","deviceType":"MainsSwitch","eventType":"Status","commandType":"","format":"json","name":"Hashims Room Lamp_Status","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allEvents":false,"allCommands":"","allFormats":true,"qos":"1","x":1191.0738735198975,"y":2031.469946861267,"wires":[["831351d.96a43b"]]},{"id":"831351d.96a43b","type":"function","z":"eaab91b5.35a83","name":"Parse_Status","func":"var Status = JSON.parse(msg.payload);\nvar Device = {payload:Status.DeviceStatus};\nvar Relay = {payload:Status.RelayState};\nvar Button = {payload:Status.ButtonState};\nreturn [Device,Relay,Button];","outputs":"3","noerr":0,"x":1416.9070644378662,"y":2032.8032011985779,"wires":[["ebaf2d2d.656d6"],["b92f7c47.6334b"],[]]},{"id":"d9305171.e53df","type":"ibmiot in","z":"eaab91b5.35a83","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"sw03","applicationId":"","deviceType":"MainsSwitch","eventType":"Will","commandType":"","format":"string","name":"Hashims Room Lamp_Will","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allEvents":"","allCommands":"","allFormats":true,"qos":"1","x":1413.6689891815186,"y":1975.422200679779,"wires":[["ebaf2d2d.656d6"]]},{"id":"ebaf2d2d.656d6","type":"ui_text","z":"eaab91b5.35a83","group":"673f5ec8.875a2","order":9,"width":"","height":"","name":"Hashims Room Lamp","label":"Hashims Room Lamp","format":"{{msg.payload}}","layout":"","x":1706.7404537200928,"y":2005.803216934204,"wires":[]},{"id":"b92f7c47.6334b","type":"ui_text","z":"eaab91b5.35a83","group":"a719b1a8.4ce7","order":1,"width":"","height":"","name":"Hashims Room Lamp","label":"Hashims Room Lamp","format":"{{msg.payload}}","layout":"","x":1695.9070644378662,"y":2049.803201198578,"wires":[]},{"id":"925a8ce5.4722e","type":"comment","z":"eaab91b5.35a83","name":"Hashims Room Lamp","info":"","x":1130.3331356048584,"y":1823.1366086006165,"wires":[]},{"id":"8055e6e2.b32088","type":"ui_button","z":"eaab91b5.35a83","name":"Ping devices","group":"673f5ec8.875a2","order":10,"width":0,"height":0,"passthru":true,"label":"Ping Devices","color":"","bgcolor":"","icon":"","payload":"{\"Command\":\"Ping\"}","payloadType":"json","topic":"","x":695.3056411743164,"y":215.74502801895142,"wires":[["6e6f21ac.56b69","c1dfd819.06d5c8","42a8912e.d20e8","3cca0d4.b9240f2","1eee672.04b4499"]]},{"id":"6e6f21ac.56b69","type":"ibmiot out","z":"eaab91b5.35a83","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"sw01","deviceType":"MainsSwitch","eventCommandType":"Command","format":"json","data":"{\"Command\":\"Ping\"}","qos":0,"name":"Lounge Table Lamp_Command","service":"registered","x":973.6956062316895,"y":108.8894157409668,"wires":[]},{"id":"c1dfd819.06d5c8","type":"ibmiot out","z":"eaab91b5.35a83","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"sw02","deviceType":"MainsSwitch","eventCommandType":"Command","format":"json","data":"{\"Command\":\"Ping\"}","qos":0,"name":"Lounge Corner Lamp_Command","service":"registered","x":982.4455680847168,"y":159.0283284187317,"wires":[]},{"id":"42a8912e.d20e8","type":"ibmiot out","z":"eaab91b5.35a83","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"sw03","deviceType":"MainsSwitch","eventCommandType":"Command","format":"json","data":"{\"Command\":\"Ping\"}","qos":0,"name":"Hashims Room Lamp_Command","service":"registered","x":982.4455680847168,"y":214.2135090827942,"wires":[]},{"id":"3cca0d4.b9240f2","type":"ibmiot out","z":"eaab91b5.35a83","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"sw03","deviceType":"MainsSwitch","eventCommandType":"Command","format":"json","data":"{\"Command\":\"Ping\"}","qos":0,"name":"Hashims Room Sensor_Command","service":"registered","x":975.7789115905762,"y":262.3615803718567,"wires":[]},{"id":"fe248e40.3db42","type":"http request","z":"d35b0b00.c0a1d8","name":"Initialize OAuth","method":"POST","ret":"obj","url":"https://monads.temboolive.com/temboo-api/1.0/choreos/Library/Google/OAuth/InitializeOAuth","tls":"","x":203.0833740234375,"y":114.39239406585693,"wires":[["a9438d35.00cc1","c6225bc2.1b6088"]]},{"id":"59535fa3.8237e","type":"function","z":"d35b0b00.c0a1d8","name":"create request","func":"msg.headers = {\n    \"x-temboo-domain\": \"/monads/master\",\n    \"Content-Type\": \"application/json\",\n    \"Accept\": \"application/json\"\n};\n\nflow.set(\"ClientID\",\"296046927617-9t6i9140a705ib9u8f4pv5n8e91rsvbc.apps.googleusercontent.com\");\nflow.set(\"ClientSecret\",\"BNtpYR74eJRdcsokF9plRTm-\");\n\nmsg.payload = {\n    \"preset\":\"GoogleOauth2\", \n    \"inputs\": {\n      \"ClientID\" : flow.get(\"ClientID\"),\n      \"ForwardingURL\" : \"https://monads.mybluemix.net/ui/#/2\",\n      \"Scope\" : \"https://www.googleapis.com/auth/fitness.activity.read\"\n    }\n};\nreturn msg;\n\n//'https://www.googleapis.com/auth/calendar.readonly', ","outputs":1,"noerr":0,"x":175.0833969116211,"y":77.5625057220459,"wires":[["fe248e40.3db42"]]},{"id":"f60d1f44.e1158","type":"function","z":"d35b0b00.c0a1d8","name":"create request","func":"//var msg1 = msg.payload;\n//msg1.url=msg.payload.output.AuthorizationURL;\n\nmsg.headers = {\n    \"x-temboo-domain\": \"/monads/master\",\n    \"Content-Type\": \"application/json\",\n    \"Accept\": \"application/json\"\n};\n\nmsg.payload = {\n    \"inputs\": \n    {\n        \"ClientSecret\" : \"BNtpYR74eJRdcsokF9plRTm-\",\n        \"CallbackID\" : flow.get(\"CallbackID\"),\n        \"ClientID\" : \"296046927617-9t6i9140a705ib9u8f4pv5n8e91rsvbc.apps.googleusercontent.com\"\n    }\n};\nmsg.url = \"https://monads.temboolive.com/temboo-api/1.0/choreos/Library/Google/OAuth/FinalizeOAuth\";\nreturn msg;","outputs":"1","noerr":0,"x":277.01744842529297,"y":225.01046466827393,"wires":[["e6d6dee3.002ef"]]},{"id":"e6d6dee3.002ef","type":"http request","z":"d35b0b00.c0a1d8","name":"Finalize OAuth","method":"POST","ret":"obj","url":"","tls":"","x":334.01747131347656,"y":260.840389251709,"wires":[["a0d4bdfa.12fee","9b4fb9d.4b89748"]]},{"id":"a9438d35.00cc1","type":"debug","z":"d35b0b00.c0a1d8","name":"","active":true,"console":"false","complete":"payload.output","x":424.07997131347656,"y":113.34031105041504,"wires":[]},{"id":"a0d4bdfa.12fee","type":"debug","z":"d35b0b00.c0a1d8","name":"","active":true,"console":"false","complete":"false","x":545.076587677002,"y":260.33342361450195,"wires":[]},{"id":"c6225bc2.1b6088","type":"function","z":"d35b0b00.c0a1d8","name":"Set CallbackID","func":"flow.set(\"CallbackID\",msg.payload.output.CallbackID);\nflow.set(\"AuthorizationURL\",msg.payload.output.AuthorizationURL);\nmsg.url = msg.payload.output.AuthorizationURL;\nreturn msg;","outputs":1,"noerr":0,"x":245.07990264892578,"y":149.12500095367432,"wires":[["c26bde9.5375d2","e05ce7f8.4a7998"]]},{"id":"9b4fb9d.4b89748","type":"function","z":"d35b0b00.c0a1d8","name":"Get Tokens","func":"flow.set(\"RefreshToken\",msg.payload.output.RefreshToken);\nflow.set(\"AccessToken\",msg.payload.output.AccessToken);\nmsg.delay = msg.payload.output.Expires;\nreturn msg;","outputs":1,"noerr":0,"x":384.08005142211914,"y":294.128475189209,"wires":[["e640c367.7a80e"]]},{"id":"74cb24a0.93073c","type":"function","z":"d35b0b00.c0a1d8","name":"Get Steps Request","func":"var date = new Date(msg.payload);\nvar year = date.getFullYear();\nvar month = date.getMonth();\nvar day = date.getDate();\n\nmsg.url = \"https://www.googleapis.com/fitness/v1/users/me/dataset:aggregate\";\n\nmsg.headers = {\n    //\"x-temboo-domain\": \"/monads/master\",\n    \"Content-Type\": \"application/json\",\n    \"Accept\": \"application/json\",\n    \"Authorization\" : \"Bearer \"+ flow.get(\"AccessToken\")\n};\n\nmsg.payload = {\n  \"aggregateBy\": [{\n    \"dataTypeName\": \"com.google.step_count.delta\",\n    \"dataSourceId\": \"derived:com.google.step_count.delta:com.google.android.gms:estimated_steps\"\n  }],\n  \"bucketByTime\": { \"durationMillis\": 86400000 },\n  \"startTimeMillis\": new Date(year,month,day,0,0).getTime(),\n  \"endTimeMillis\": new Date(year,month,day,23,59).getTime()\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":200.07290649414062,"y":488.1216678619385,"wires":[["e918c974.2bdc18"]]},{"id":"e918c974.2bdc18","type":"http request","z":"d35b0b00.c0a1d8","name":"","method":"POST","ret":"obj","url":"","tls":"","x":236.5207862854004,"y":526.8925609588623,"wires":[["1d0a0cc2.713053"]]},{"id":"bad149f4.51d8a8","type":"ui_gauge","z":"d35b0b00.c0a1d8","name":"","group":"80c5e20a.445f7","order":2,"width":0,"height":0,"gtype":"donut","title":"Steps","label":"Steps","format":"{{value}}","min":0,"max":"10000","colors":["#a82626","#e6e600","#25f20f"],"seg1":"","seg2":"","x":323.0833549499512,"y":598.5939311981201,"wires":[]},{"id":"1d0a0cc2.713053","type":"function","z":"d35b0b00.c0a1d8","name":"Get step Count","func":"var steps = {payload : msg.payload.bucket[0].dataset[0].point[0].value[0].intVal};\nreturn steps;","outputs":1,"noerr":0,"x":281.0695152282715,"y":563.6703948974609,"wires":[["bad149f4.51d8a8"]]},{"id":"3d2ed8c3.74ccc8","type":"ui_button","z":"d35b0b00.c0a1d8","name":"","group":"80c5e20a.445f7","order":3,"width":0,"height":0,"passthru":false,"label":"Today","color":"","bgcolor":"","icon":"","payload":"Day","payloadType":"str","topic":"","x":92.07640075683594,"y":376.3820848464966,"wires":[["ab0780fc.df07"]]},{"id":"38de7066.c75","type":"http response","z":"d35b0b00.c0a1d8","name":"","statusCode":"","headers":{},"x":513.0694351196289,"y":183.89933013916016,"wires":[]},{"id":"9e4e1448.3a84d8","type":"http in","z":"d35b0b00.c0a1d8","name":"","url":"/oauthcall","method":"get","upload":false,"swaggerDoc":"","x":106.07994079589844,"y":41.937514305114746,"wires":[["59535fa3.8237e"]]},{"id":"c26bde9.5375d2","type":"http request","z":"d35b0b00.c0a1d8","name":"Get Authorization","method":"POST","ret":"txt","url":"","tls":"","x":472.5242691040039,"y":148.88542366027832,"wires":[["38de7066.c75"]]},{"id":"e05ce7f8.4a7998","type":"delay","z":"d35b0b00.c0a1d8","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":249.52777099609375,"y":185.89929389953613,"wires":[["f60d1f44.e1158"]]},{"id":"3abcd382.aa2d8c","type":"ui_date_picker","z":"d35b0b00.c0a1d8","name":"","label":"date","group":"80c5e20a.445f7","order":4,"width":0,"height":0,"passthru":true,"topic":"","x":149.07641220092773,"y":449.9549512863159,"wires":[["74cb24a0.93073c"]]},{"id":"ab0780fc.df07","type":"function","z":"d35b0b00.c0a1d8","name":"Set todays date","func":"msg.payload = new Date();\nreturn msg;","outputs":1,"noerr":0,"x":125.07291793823242,"y":413.35076999664307,"wires":[["3abcd382.aa2d8c"]]},{"id":"7fbd7328.c70ebc","type":"ui_template","z":"d35b0b00.c0a1d8","group":"80c5e20a.445f7","name":"","order":1,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>\n<div>\n    <a href=\"/oauthcall\">Sign in to Google</a>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":336.0798568725586,"y":40.05555820465088,"wires":[[]]},{"id":"e640c367.7a80e","type":"delay","z":"d35b0b00.c0a1d8","name":"","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":424.0695381164551,"y":331.0590286254883,"wires":[[]]},{"id":"a27e4f14.eb234","type":"function","z":"d35b0b00.c0a1d8","name":"Request Refresh Token","func":"msg.headers = {\n    \"Host\": \"www.googleapis.com\",\n    \"Content-Type\": \"application/x-www-form-urlencoded\"\n};\n\nmsg.creds = {\n    //\"url\" : \"https://www.googleapis.com/oauth2/v4/token\",\n    \"ClientID\" : flow.get(\"ClientID\"),\n    \"ClientSecret\" : flow.get(\"ClientSecret\"),\n    \"RefreshToken\" : flow.get(\"RefreshToken\"),\n    \"Grant_type\" : 'refresh_token'\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":541.076530456543,"y":369.4548616409302,"wires":[["4981d9bc.66ad48","ec044829.778938"]]},{"id":"8df61c93.18c2f","type":"http request","z":"d35b0b00.c0a1d8","name":"Refresh Token Request","method":"POST","ret":"obj","url":"https://www.googleapis.com/oauth2/v4/token?","tls":"","x":624.7466049194336,"y":449.28474521636963,"wires":[["ccafd901.169368"]]},{"id":"4981d9bc.66ad48","type":"template","z":"d35b0b00.c0a1d8","name":"Encode","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"client_id={{msg.creds.ClientID}}\n&client_secret={{msg.creds.ClientSecret}}\n&refresh_token={{msg.creds.RefreshToken}}\n&grant_type=refresh_token","output":"str","x":553.0694999694824,"y":409.4236059188843,"wires":[["8df61c93.18c2f","3c9850d.5d2efb"]]},{"id":"ccafd901.169368","type":"debug","z":"d35b0b00.c0a1d8","name":"","active":true,"console":"false","complete":"false","x":697.0799102783203,"y":489.2291593551636,"wires":[]},{"id":"3c9850d.5d2efb","type":"debug","z":"d35b0b00.c0a1d8","name":"","active":true,"console":"false","complete":"false","x":734.079948425293,"y":408.89236783981323,"wires":[]},{"id":"ec044829.778938","type":"debug","z":"d35b0b00.c0a1d8","name":"","active":true,"console":"false","complete":"false","x":766.0695419311523,"y":368.8958787918091,"wires":[]},{"id":"2d8d6828.b6ab98","type":"inject","z":"d35b0b00.c0a1d8","name":"","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"x":363.18751525878906,"y":410.1840591430664,"wires":[["a27e4f14.eb234"]]},{"id":"8b6ac5e4.0c8a68","type":"function","z":"87de3044.faef9","name":"","func":"msg.headers = {\n    'Content-Type' : 'application/x-www-form-urlencoded',\n    \"Accept\": \"application/json\"\n};\n\nflow.set(\"ClientID\",\"296046927617-9t6i9140a705ib9u8f4pv5n8e91rsvbc.apps.googleusercontent.com\");\nflow.set(\"ClientSecret\",\"BNtpYR74eJRdcsokF9plRTm-\");\n\nmsg.creds ={\n    \"ClientID\" : flow.get(\"ClientID\"),\n    \"redirect_uri\" : \"https://monads.mybluemix.net/oauth2callback\",\n    \"scope\" : \"https://www.googleapis.com/auth/fitness.activity.read\",\n    \"response_type\" : \"code\"\n    \n};\nreturn msg;","outputs":1,"noerr":0,"x":173.0833282470703,"y":132.12847137451172,"wires":[["db058118.d3802"]]},{"id":"db058118.d3802","type":"template","z":"87de3044.faef9","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"client_id={{creds.ClientID}}&response_type=code&redirect_uri={{creds.redirect_uri}}&approval_prompt=force&access_type=offline&scope={{creds.scope}}&login_hint=saad.u.rehman@gmail.com","output":"str","x":197.07640075683594,"y":170.07987213134766,"wires":[["52ccc3f7.6a3f7c"]]},{"id":"52ccc3f7.6a3f7c","type":"http request","z":"87de3044.faef9","name":"","method":"POST","ret":"txt","url":"https://accounts.google.com/o/oauth2/v2/auth?","tls":"","x":232.07640075683594,"y":207.94446563720703,"wires":[["8ef4e42d.8bc568","6197c047.9af98"]]},{"id":"8ef4e42d.8bc568","type":"debug","z":"87de3044.faef9","name":"","active":true,"console":"false","complete":"false","x":421.07642364501953,"y":181.9931001663208,"wires":[]},{"id":"6197c047.9af98","type":"http response","z":"87de3044.faef9","name":"","statusCode":"","headers":{},"x":242.07640075683594,"y":245.8958511352539,"wires":[]},{"id":"fc83549a.d4ccd8","type":"http in","z":"87de3044.faef9","name":"","url":"/goauth","method":"get","upload":false,"swaggerDoc":"","x":144.0729217529297,"y":94.22916412353516,"wires":[["8b6ac5e4.0c8a68"]]},{"id":"248c0aaf.3d51c6","type":"http in","z":"87de3044.faef9","name":"","url":"/oauth2callback","method":"get","upload":false,"swaggerDoc":"","x":195.07984924316406,"y":319.45487213134766,"wires":[["7cea83b9.78cf0c"]]},{"id":"7cea83b9.78cf0c","type":"template","z":"87de3044.faef9","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<div>\n    <a href=\"https://monads.mybluemix.net/ui/#/2\">go back to dash</a>\n</div>","output":"str","x":243.0833282470703,"y":365.9826431274414,"wires":[["47aa13c1.6a274c"]]},{"id":"47aa13c1.6a274c","type":"http response","z":"87de3044.faef9","name":"","statusCode":"","headers":{},"x":292.0833511352539,"y":414.458345413208,"wires":[]},{"id":"c121131b.9eecb","type":"ibmiot in","z":"216dafd7.98d67","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"RFBridge01","applicationId":"","deviceType":"RFBridge","eventType":"Status","commandType":"","format":"json","name":"RFBridge_Status","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allEvents":false,"allCommands":"","allFormats":true,"qos":"1","x":178.77169799804688,"y":143.7630157470703,"wires":[["ef913668.bbb038"]]},{"id":"ef913668.bbb038","type":"debug","z":"216dafd7.98d67","name":"RFBridge Event","active":true,"console":"false","complete":"payload","x":550.0216674804688,"y":146.2630157470703,"wires":[]},{"id":"429451d6.4c76","type":"ibmiot out","z":"216dafd7.98d67","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"RFBridge01","deviceType":"RFBridge","eventCommandType":"Command","format":"json","data":"msg.payload","qos":0,"name":"RFBridge_Command","service":"registered","x":603.7716674804688,"y":260.0129985809326,"wires":[]},{"id":"9fa4b7b5.416418","type":"inject","z":"216dafd7.98d67","name":"","topic":"Learn","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":163.8411521911621,"y":218.54601860046387,"wires":[["7622ebf7.2b0384"]]},{"id":"7622ebf7.2b0384","type":"function","z":"216dafd7.98d67","name":"process","func":"msg.payload= {Command:\"learn\"};\n\nreturn msg;","outputs":1,"noerr":0,"x":350.02172470092773,"y":217.51300430297852,"wires":[["429451d6.4c76"]]},{"id":"653b12be.75629c","type":"ibmiot in","z":"216dafd7.98d67","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"RFBridge01","applicationId":"","deviceType":"RFBridge","eventType":"Buffer","commandType":"","format":"json","name":"RFBridge_Buffer","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allEvents":true,"allCommands":"","allFormats":true,"qos":"1","x":190.02169799804688,"y":415.01300048828125,"wires":[["6a64c2c.686633c"]]},{"id":"6a64c2c.686633c","type":"debug","z":"216dafd7.98d67","name":"","active":true,"console":"false","complete":"false","x":443.84984970092773,"y":405.2864933013916,"wires":[]},{"id":"3ce6fc81.4db934","type":"function","z":"216dafd7.98d67","name":"process","func":"msg.payload= {Command:\"SniffOn\"};\n\nreturn msg;","outputs":1,"noerr":0,"x":351.2716979980469,"y":261.26300048828125,"wires":[["429451d6.4c76"]]},{"id":"904b7487.09a668","type":"function","z":"216dafd7.98d67","name":"process","func":"msg.payload= {Command:\"SniffOff\"};\n\nreturn msg;","outputs":1,"noerr":0,"x":351.2716979980469,"y":300.01300048828125,"wires":[["429451d6.4c76"]]},{"id":"8bfbe8c4.d88798","type":"inject","z":"216dafd7.98d67","name":"","topic":"Sniff On","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":152.5954818725586,"y":267.59114265441895,"wires":[["3ce6fc81.4db934"]]},{"id":"947b7eb8.2a71","type":"inject","z":"216dafd7.98d67","name":"","topic":"Sniff Off","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":138.8368034362793,"y":308.82378578186035,"wires":[["904b7487.09a668"]]},{"id":"3f1a18ff.f8e3e8","type":"comment","z":"eaab91b5.35a83","name":"Initialise Objects","info":"","x":165.00003051757812,"y":65,"wires":[]},{"id":"37b3d3ee.a1cafc","type":"config","z":"eaab91b5.35a83","name":"Initialize","properties":[{"p":"Lounge_TableLamp","pt":"global","to":"{\"DeviceName\":\"Sw01\",\"DeviceStatus\":\"Offline\",\"RelayStatus\":\"Off\",\"PushButtonStatus\":\"Off\"}","tot":"json"},{"p":"Lounge_CornerLamp","pt":"global","to":"{\"DeviceName\":\"Sw02\",\"DeviceStatus\":\"Offline\",\"RelayStatus\":\"Off\",\"PushButtonStatus\":\"Off\"}","tot":"json"},{"p":"HashimRoom_Lamp","pt":"global","to":"{\"DeviceName\":\"Sw03\",\"DeviceStatus\":\"Offline\",\"RelayStatus\":\"Off\",\"PushButtonStatus\":\"Off\"}","tot":"json"},{"p":"HashimRoom_TH_Sensor","pt":"global","to":"{\"DeviceName\":\"TH01\",\"CommStatus\":\"Offline\",\"Temperature\":0,\"Humidity\":0}","tot":"json"},{"p":"LED_Strip01","pt":"global","to":"{\"DeviceName\":\"Strip01\",\"DeviceStatus\":\"Offline\",\"UpStair_ID\":\"Run02\",\"DownStair_ID\":\"Run01\",\"UpStair_State\":\"0\",\"DownStair_State\":\"0\"}","tot":"json"},{"p":"LED_Strip02","pt":"global","to":"{\"DeviceName\":\"Strip02\",\"DeviceStatus\":\"Offline\",\"Strip_ID\":\"LED_TV\",\"Strip_State\":0}","tot":"json"}],"active":true,"x":248.5250244140625,"y":105.1624984741211,"wires":[]},{"id":"4b6cd68b.ced838","type":"inject","z":"eaab91b5.35a83","name":"Lounge_TableLamp","topic":"","payload":"Lounge_TableLamp","payloadType":"global","repeat":"","crontab":"","once":false,"x":216.66666412353516,"y":145.11112594604492,"wires":[["3330521.f409cae"]]},{"id":"3330521.f409cae","type":"debug","z":"eaab91b5.35a83","name":"","active":true,"console":"false","complete":"false","x":464.00000762939453,"y":221.00001907348633,"wires":[]},{"id":"2c63477b.31c6f8","type":"inject","z":"eaab91b5.35a83","name":"Lounge_CornerLamp","topic":"","payload":"Lounge_CornerLamp","payloadType":"global","repeat":"","crontab":"","once":false,"x":208,"y":187.00000762939453,"wires":[["3330521.f409cae"]]},{"id":"71e0d5a7.b1664c","type":"inject","z":"eaab91b5.35a83","name":"LED_Strip01","topic":"","payload":"LED_Strip01","payloadType":"global","repeat":"","crontab":"","once":false,"x":219.00000762939453,"y":334.4166827201843,"wires":[["3330521.f409cae"]]},{"id":"21f0eaec.a66f66","type":"inject","z":"eaab91b5.35a83","name":"HashimRoom_Lamp","topic":"","payload":"HashimRoom_Lamp","payloadType":"global","repeat":"","crontab":"","once":false,"x":207.25000762939453,"y":232.7500114440918,"wires":[["3330521.f409cae"]]},{"id":"524e9292.1ac31c","type":"inject","z":"eaab91b5.35a83","name":"HashimRoom_TH_Sensor","topic":"","payload":"HashimRoom_TH_Sensor","payloadType":"global","repeat":"","crontab":"","once":false,"x":210.25000762939453,"y":281.00001335144043,"wires":[["3330521.f409cae"]]},{"id":"30f900bc.c3f","type":"ui_numeric","z":"eaab91b5.35a83","name":"Up Stair Run","label":"Up Stairs","group":"c2a3aa5e.e3db38","order":6,"width":0,"height":0,"passthru":false,"topic":"","format":"{{value}}%","min":0,"max":"100","step":"25","x":691.3548431396484,"y":1489.027021408081,"wires":[["fbaf83ae.14c8c"]]},{"id":"b43a1d43.6ad7f","type":"ui_numeric","z":"eaab91b5.35a83","name":"DownStair Run","label":"Down Stairs","group":"c2a3aa5e.e3db38","order":7,"width":0,"height":0,"passthru":false,"topic":"","format":"{{value}}%","min":0,"max":"100","step":"25","x":693.6048431396484,"y":1611.4845428466797,"wires":[["fc2ef5a9.5a2f48"]]},{"id":"fbaf83ae.14c8c","type":"function","z":"eaab91b5.35a83","name":"process","func":"try{\n    global.set('LED_Strip01.UpStair_State',msg.payload);\n}\ncatch(e){}\n\nreturn msg;","outputs":1,"noerr":0,"x":893.212100982666,"y":1490.3772811889648,"wires":[[]]},{"id":"fc2ef5a9.5a2f48","type":"function","z":"eaab91b5.35a83","name":"process","func":"try{\n global.set('LED_Strip01.DownStair_State',msg.payload);\n}\ncatch(e){}\nreturn msg;","outputs":1,"noerr":0,"x":894.3548431396484,"y":1612.3059968948364,"wires":[[]]},{"id":"7b3eec54.17f194","type":"function","z":"eaab91b5.35a83","name":"SetMessage","func":"try{\nvar Run01 = global.get('LED_Strip01.DownStair_State');\nvar Run02 = global.get('LED_Strip01.UpStair_State');\nvar Strip_State = global.get('LED_Strip02.Strip_State');\n}\ncatch(e){}\n\nvar staircaseStrip = {payload:{}};\nvar TVStrip = {payload:{}};\n\nstaircaseStrip.payload= {\n    \"Command\":\"Set\",\n    \"Run01_PWM\": Run01,\n    \"Run02_PWM\": Run02\n};\n\nTVStrip.payload= {\n    \"Command\":\"Set\",\n    \"Run01_PWM\": Strip_State\n};\n\nreturn [staircaseStrip,TVStrip];","outputs":"2","noerr":0,"x":798.6050567626953,"y":1288.638892173767,"wires":[["52536438.012a8c","4124a9f5.7da3e8"],["7c1b2abe.6dcd44"]]},{"id":"52536438.012a8c","type":"ibmiot out","z":"eaab91b5.35a83","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"Strip01","deviceType":"LED_Stip","eventCommandType":"Command","format":"json","data":"msg.payload","qos":0,"name":"StairCase_LED_Strip","service":"registered","x":1033.0694198608398,"y":1254.5203170776367,"wires":[]},{"id":"7bf239ae.4775d8","type":"comment","z":"eaab91b5.35a83","name":"Staircae LEDs","info":"","x":573.4767951965332,"y":1218.3382232189178,"wires":[]},{"id":"212c7201.22308e","type":"ibmiot in","z":"eaab91b5.35a83","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"Strip01","applicationId":"","deviceType":"LED_Stip","eventType":"+","commandType":"","format":"JSON","name":"StairCase_LED_Strip","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allEvents":true,"allCommands":"","allFormats":false,"qos":"0","x":270.6912307739258,"y":1524.3382205963135,"wires":[["752deb60.5a5c44","ea6a27d0.38bc88"]]},{"id":"ea6a27d0.38bc88","type":"function","z":"eaab91b5.35a83","name":"process","func":"var incoming = JSON.parse(msg.payload);\nvar devicestatus;\nvar run01state;\nvar run02state;\n\ndevicestatus = {payload:incoming.DeviceStatus};\n\nvar len01 = incoming.Run01_Status.length;\nvar len02 = incoming.Run02_Status.length;\n\nrun01state = {payload:incoming.Run01_Status.slice(0,len01-1)};\nrun02state = {payload:incoming.Run02_Status.slice(0,len02-1)};\n\ntry{\n    global.set('LED_Strip01.DeviceStatus',devicestatus);\n    global.set('LED_Strip01.UpStair_State',run02state.payload);\n    global.set('LED_Strip01.DownStair_State',run01state.payload);\n}\ncatch(e){}\n\nreturn [devicestatus,run02state,run01state];","outputs":"3","noerr":0,"x":488.3815326690674,"y":1523.7115898132324,"wires":[["6fc11239.94398c"],["a299d857.5d4b38","30f900bc.c3f"],["20f7d31d.f36a6c","b43a1d43.6ad7f","89a73326.7eef5"]]},{"id":"752deb60.5a5c44","type":"debug","z":"eaab91b5.35a83","name":"","active":true,"console":"false","complete":"true","x":476.6023807525635,"y":1584.4164695739746,"wires":[]},{"id":"1eee672.04b4499","type":"ibmiot out","z":"eaab91b5.35a83","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"Strip01","deviceType":"LED_Stip","eventCommandType":"Command","format":"json","data":"{\"Command\":\"Ping\"}","qos":0,"name":"LED_Strip","service":"registered","x":909.3905906677246,"y":317.2196683883667,"wires":[]},{"id":"e6c74d47.95345","type":"ui_button","z":"eaab91b5.35a83","name":"","group":"c2a3aa5e.e3db38","order":0,"width":0,"height":0,"passthru":false,"label":"Update","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":740.8001480102539,"y":1747.960376739502,"wires":[["26563c35.99e1e4"]]},{"id":"ac05834e.d2c01","type":"function","z":"eaab91b5.35a83","name":"Set Message","func":"var Lounge_CornerLamp_Command = global.get('Lounge_CornerLamp.RelayStatus');\n\nmsg.payload = {\n    Command : Lounge_CornerLamp_Command\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":1058.1250820159912,"y":963.7501664161682,"wires":[["d99dbd0a.29d08"]]},{"id":"aec9dd79.f3a7f","type":"comment","z":"eaab91b5.35a83","name":"TVLEDs","info":"","x":1344.1992416381836,"y":1311.6731510162354,"wires":[]},{"id":"f71dca32.a48e38","type":"ibmiot in","z":"eaab91b5.35a83","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"Strip02_TV","applicationId":"","deviceType":"LED_Stip","eventType":"+","commandType":"","format":"json","name":"TV_Strip","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allEvents":true,"allCommands":"","allFormats":true,"qos":0,"x":1338.9714164733887,"y":1477.7604022026062,"wires":[["f3026d36.da5eb","28e32ed1.309552"]]},{"id":"7c1b2abe.6dcd44","type":"ibmiot out","z":"eaab91b5.35a83","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"Strip02_TV","deviceType":"LED_Stip","eventCommandType":"Command","format":"json","data":"msg.payload","qos":"0","name":"TV_Strip","service":"registered","x":993.9909706115723,"y":1332.715145111084,"wires":[]},{"id":"f3026d36.da5eb","type":"debug","z":"eaab91b5.35a83","name":"","active":true,"console":"false","complete":"false","x":1513.971342086792,"y":1499.68093252182,"wires":[]},{"id":"4d8003bf.f6e5fc","type":"function","z":"eaab91b5.35a83","name":"process","func":"try{\n    global.set('LED_Strip02.Strip_State',msg.payload);\n}\ncatch(e){}\n\nreturn msg;","outputs":1,"noerr":0,"x":1481.6991806030273,"y":1378.3398146629333,"wires":[[]]},{"id":"f3db64ea.9bee08","type":"ui_numeric","z":"eaab91b5.35a83","name":"TV Strip","label":"TV Strip","group":"c2a3aa5e.e3db38","order":7,"width":0,"height":0,"passthru":false,"topic":"","format":"{{value}}","min":0,"max":"100","step":"25","x":1346.699234008789,"y":1377.5065307617188,"wires":[["4d8003bf.f6e5fc"]]},{"id":"7a2dcdaf.d65c64","type":"link out","z":"eaab91b5.35a83","name":"Scene_Update","links":["ff9438d7.cbb5c8","12d7cf4b.da9b71"],"x":401.4713087081909,"y":1077.9819111824036,"wires":[]},{"id":"ff9438d7.cbb5c8","type":"link in","z":"eaab91b5.35a83","name":"","links":["7a2dcdaf.d65c64"],"x":678.1444873809814,"y":1262.539146900177,"wires":[["7b3eec54.17f194"]]},{"id":"26563c35.99e1e4","type":"link out","z":"eaab91b5.35a83","name":"Button_Update","links":["ab882f28.deae8","a83cf307.95513"],"x":825.4778823852539,"y":1748.334665298462,"wires":[]},{"id":"ab882f28.deae8","type":"link in","z":"eaab91b5.35a83","name":"","links":["26563c35.99e1e4"],"x":676.4777956008911,"y":1307.5325980186462,"wires":[["7b3eec54.17f194"]]},{"id":"6fc11239.94398c","type":"ui_text","z":"eaab91b5.35a83","group":"673f5ec8.875a2","order":2,"width":"","height":"","name":"StairLED Status","label":"Staircase LEDs","format":"{{msg.payload}}","layout":"","x":711.7826538085938,"y":1445.923017412424,"wires":[]},{"id":"3c6a7571.3c8f0a","type":"ui_text","z":"eaab91b5.35a83","group":"673f5ec8.875a2","order":5,"width":"","height":"","name":"TVLED Status","label":"TV LEDs","format":"{{msg.payload}}","layout":"","x":1710.032636642456,"y":1411.6731567382812,"wires":[]},{"id":"28e32ed1.309552","type":"function","z":"eaab91b5.35a83","name":"process","func":"var incoming = JSON.parse(msg.payload);\nvar devicestatus;\nvar run01state;\n\ndevicestatus = {payload:incoming.DeviceStatus};\nrun01state = {payload:incoming.Run01_Status};\n\ntry{\n    global.set('LED_Strip02.DeviceStatus',devicestatus);\n    global.set('LED_Strip02.Strip_State',run01state);\n}\ncatch(e){}\n\nreturn [devicestatus,run01state];","outputs":"2","noerr":0,"x":1509.881462097168,"y":1439.7952160835266,"wires":[["3c6a7571.3c8f0a"],["eacdbf58.1938e"]]},{"id":"a299d857.5d4b38","type":"ui_text","z":"eaab91b5.35a83","group":"673f5ec8.875a2","order":3,"width":"","height":"","name":"Up Stairs LED_State","label":"Up Stairs LED","format":"{{msg.payload}}","layout":"","x":709.7501182556152,"y":1526.833240032196,"wires":[]},{"id":"20f7d31d.f36a6c","type":"ui_text","z":"eaab91b5.35a83","group":"673f5ec8.875a2","order":4,"width":"","height":"","name":"Down Stairs LED_State","label":"Down Stairs LED","format":"{{msg.payload}}","layout":"","x":721.0001182556152,"y":1571.833242893219,"wires":[]},{"id":"eacdbf58.1938e","type":"ui_text","z":"eaab91b5.35a83","group":"673f5ec8.875a2","order":6,"width":"","height":"","name":"TV LED State","label":"TV LEDs","format":"{{msg.payload}}","layout":"","x":1704.166669845581,"y":1458.3332481384277,"wires":[]},{"id":"9bd122e7.c82ce","type":"ui_chart","z":"eaab91b5.35a83","name":"Humidity","group":"c09b9390.0be8c","order":0,"width":"8","height":"8","label":"Humidity","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"Waiting for Data","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#025ecc","#0000ff","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":709.9999656677246,"y":1986.6665019989014,"wires":[[],[]]},{"id":"7eca06c2.bed2d8","type":"inject","z":"eaab91b5.35a83","name":"blank","topic":"","payload":"[]","payloadType":"json","repeat":"","crontab":"","once":false,"x":488.3333320617676,"y":1926.6665782928467,"wires":[["6c994623.7c9448","9bd122e7.c82ce"]]},{"id":"c8191458.cecf28","type":"ui_ui_control","z":"eaab91b5.35a83","name":"Charts","x":1393.9583587646484,"y":121.25,"wires":[[]]},{"id":"6bde33c.2900dcc","type":"ui_button","z":"eaab91b5.35a83","name":"","group":"a719b1a8.4ce7","order":0,"width":0,"height":0,"passthru":false,"label":"Charts","color":"","bgcolor":"","icon":"","payload":"{tab:\"Charts\"}","payloadType":"json","topic":"","x":1286.4583587646484,"y":81.25,"wires":[["c8191458.cecf28"]]},{"id":"511a42fa.e1caec","type":"ui_button","z":"eaab91b5.35a83","name":"","group":"c09b9390.0be8c","order":0,"width":0,"height":0,"passthru":false,"label":"Home","color":"","bgcolor":"","icon":"","payload":"{tab:\"Home\"}","payloadType":"json","topic":"","x":1290.2083587646484,"y":168.75,"wires":[["c8191458.cecf28"]]},{"id":"4124a9f5.7da3e8","type":"debug","z":"eaab91b5.35a83","name":"","active":true,"console":"false","complete":"false","x":991.166748046875,"y":1219.6666259765625,"wires":[]},{"id":"89a73326.7eef5","type":"debug","z":"eaab91b5.35a83","name":"","active":true,"console":"false","complete":"payload","x":672.1666870117188,"y":1649.3333740234375,"wires":[]}]